<div class="container">
  <header> <img src="https://www.needpix.com/photo/759850/books-bookshelf-library-free-pictures-free-photos-free-images-royalty-free-free-illustrations" alt="bookshelf">
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Bookmaster</h2>

    <div class="content">
      <form method="GET" action="/login">
        <input type="submit" value="Login">
      </form>
      <form method="GET" action="/signup">
        <input type="submit" value="Signup">
      </form>
    </div>

    
  </div>
</div>
